.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 400px;
}

.button-50 button {
  background: none;
}

.align-text {
  position: relative;
  bottom: 4px;
  font-size: 18px;
}
