.manage-table {
    padding-top: 20px;
}
.manage-manga {
    padding-top: 40px;
}
.description-cell {
    max-width: 200px; /* Adjust the value to your desired maximum width */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

