#carousel .cover {
  aspect-ratio: 1/1.41;
  border-radius: 5%;
}

#carousel .title {
  font-size: 30px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
@media screen and (max-width: 767px) {
  #carousel .title {
    font-size: 20px;
  }
}
