.community-container {
  justify-content: space-between;
  border: 1px solid #868686;
  border-radius: 8px;
  margin: 24px;
  display: flex;
}

.post-image-container {
  cursor: pointer;
  position: relative;
  box-sizing: content-box;
}

.post-image-quantity {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  bottom: 5px;
  right: 5px;
  width: 30px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.post-image-container img {
  height: 150px;
  border-radius: 0 8px 8px 0;
}

.comment-close {
  display: flex;
  color: rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  align-items: flex-start;
}

.comment-close i {
  cursor: pointer;
}

.modal-users-info {
  display: flex;
  justify-content: space-between;
}

.modal-community-info {
  padding-top: 0;
}

.post-react-button {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
}

.post-react-button:hover {
  background-color: #dfdfdf;
}

.post-footer {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.community-info {
  display: flex;
  gap: 15px;
  padding: 15px 10px;
}

.modal-community-image {
  height: 80vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.arrow-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  background-color: rgba(0, 0, 0, 0.522);
  position: absolute;
  top: 50%;
  left: 10px;
  cursor: pointer;
}

.arrow-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  background-color: rgba(0, 0, 0, 0.522);
  position: absolute;
  top: 50%;
  right: 10px;
  cursor: pointer;
}

.modal-community-image img {
  max-height: 100%;
  max-width: 100%;
}

.modal-users-info .avatar {
  margin: 10px 10px 10px 0;
}

.post-form {
  display: flex;
  gap: 10px;
  margin: 0 20px;
}

.post-form button {
  width: 100%;
  border: none;
  border-radius: 50px;
  text-align: start;
}

.post-form span {
  margin-left: 10px;
}

.community-container:hover {
  background-color: rgb(128, 128, 128, 0.09);
  cursor: pointer;
}

.post-button {
  display: flex;
  gap: 5px;
  padding: 5px;
}

.post-button button {
  border: none;
  background: none;
}

.post-button:hover {
  background-color: rgb(128, 128, 128, 0.3);
  border-radius: 10px;
}

@media (max-width: 767px) {
  .modal-community-image {
    height: 50vh;
  }

  .post-image-container img {
    width: 100% !important;
    height: auto !important;
    border-radius: 0 0 8px 8px;
    padding-bottom: 10px;
  }

  .community-container {
    margin: 0;
    border: none;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
    flex-flow: column;
  }

  .post-image-quantity {
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 30px;
    font-size: 20px;
  }

  .post-form {
    margin: 0 10px 10px;
  }

  .post-footer {
    justify-content: center;
    padding-bottom: 10px;
    gap: 10px;
  }
}

.comment-post {
  max-height: 50vh;
  overflow-y: auto; /* Show scrollbar only when content overflows */
}
