.banner {
  margin-top: 0;
  padding-top: 50px;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
@media (max-width: 767px) {
  .banner h1 {
    font-size: 32px;
  }
}
.banner p {
  color: black;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner .coverPath {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  animation: updown 3s ease-in-out infinite;
}
@keyframes updown {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}



#dropdown-basic {
  outline: none !important;
  outline-offset: none !important;
  font-size: 25px;
  outline: none;
  outline-offset: none;
}

.heart.follow {
  display: flex;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.heart {
  display: inline-block;
  position: absolute;
  background: url("/public/img/animation/heart.png") no-repeat;
  background-size: 2900%;
  height: 80px;
  width: 80px;
  transform: translate(-50%, -50%);
}

.heart.heart-active {
  animation: animate 0.8s steps(28);
  background-position: right;
}

@keyframes animate {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.btn-follow {
  border-width: 0;
  margin-left: 27px;
}

.follow-number {
  display: flex;
  margin: 25px 0 0 60px;
  font-size: 18px;
  color: black;
}

.view-manga {
  border-width: 0;
  margin-left: 10px;
  margin-top: 3px;
  font-size: 18px;
}

.rating {
  border-width: 0;
  font-size: 21px;
}

.rating .rating-number {
  font-size: 18px;
}

.banner .btn-report-manga {
  border: none;
  border-width: 0;
  font-size: 18px;
  margin-top: 3px;
}

.btn-resize-description {
  border: none;
  background-color: none;
  color: #004759;
  font-weight: bold;
}

.btn-resize-description:hover {
  text-decoration: underline;
}

.button-50 {
  appearance: button;
  background-color: white;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: black 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 20px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #000 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}
