.banner {
  margin-top: 0;
  padding-top: 50px;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner .coverPath {
  animation: updown 3s linear infinite;
}
@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

.dropdown-basic {
  outline: none !important;
  outline-offset: none !important;
}

.heart-btn {
  transform: translate(-50%, -50%);
}

.heart.follow {
  display: flex;
  padding: 13px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.heart {
  display: inline-block;
  position: absolute;
  background: url("/public/img/animation/heart.png") no-repeat;
  background-size: 2900%;
  height: 90px;
  width: 90px;
  transform: translate(-50%, -50%);
}

.heart.heart-active {
  animation: animate 0.8s steps(28);
  background-position: right;
}

@keyframes animate {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.follow {
  display: flex;
  margin: 30px 0 0 70px;
  font-size: 20px;
  color: black;
}
