@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #f9f9f9 !important;
}

.text-limit-3 {
  --max-lines: 3;

  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}

.text-limit-1 {
  --max-lines: 1;

  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}

.card-link {
  text-decoration: none;
  color: black;
}
.card-link:hover {
  cursor: pointer;
}

.general-container {
  width: auto;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 24px;
}

.general-container-title {
  padding-left: 30px;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

.wrapper {
  padding-bottom: 10px;
}

.cover-image {
  height: 240px;
}
@media (max-width: 768px) {
  .cover-image {
    height: 450px;
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.button-50 {
  background-color: white;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: black 4px 4px 0 0, #000 4px 4px 0 1px;
  color: black;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  margin: 0 5px 10px 0;
  padding: 12px 20px;
  text-align: center;
  vertical-align: middle;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}
.button-50:enabled {
  cursor: pointer;
}

.button-50:disabled {
  background-color: lightgray;
  box-shadow: black 4px 4px 0 0, #000 4px 4px 0 1px;
}

.dropdown-toggle::before {
  display: none !important;
}
