@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #fff !important;
}

.text-limit-3 {
  --max-lines: 3;

  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}

.text-limit-1 {
  --max-lines: 1;

  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}

.card-link {
  text-decoration: none;
  color: black;
}
.card-link:hover {
  color: black;
}

.general-container {
  width: auto;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 24px;
}

.general-container-title {
  padding-left: 30px;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

.wrapper {
  padding-bottom: 10px;
}

.cover-image {
  height: 240px;
}
@media (max-width: 768px) {
  .cover-image {
    height: 450px;
  }
}
