.error {
  text-align: center;
}

.button-23 {
  background-color: #ffffff;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  width: auto;
}

@media (max-width: 797px) {
  .error img {
    max-width: 100%;
    max-height: 100%;
  }
}
